@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #04060e;
  --primary-green: #39cb75;
  --secondary-green: #0b691e;
  --dark-green: #0e271d;
  --primary-grey: #0e1218;
  --grey: #7d7d7d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-toast {
  backdrop-filter: blur(8px) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0.5rem !important;
}

html {
  scroll-snap-type: x mandatory;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

.nav-item-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.nav-item-animation:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #39cb75;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-radius: 50px;
}
.nav-item-animation:hover:after,
.nav-item-animation:focus:after {
  transform: scaleX(1);
}
.nav-item-animation.active:after {
  transform: scaleX(1);
}






